.dealsSection {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .title1 {
        font-family: var(--main-font);
        font-size: 2rem;
        letter-spacing: 0.4rem;
        color: var(--orange1);
        margin-bottom: 0.7rem;
    }

    .title2 {
        font-family: var(--secondary-font);
        color: var(--dark-brown1);
        font-size: 1rem;
        margin-bottom: 2rem;
    }

    .slideshow {
        width: 75%;
        overflow: hidden;

        .cards {
            display: flex;
            justify-content: space-evenly;
            transition: transform 0.5s ease-in-out;
            width: calc(100% * 2);
        }

        .slideshowDots {
            margin-top: 1rem;
            display: flex;
            justify-content: center;

            .indicator {
                width: 0.7rem;
                height: 0.7rem;
                margin: 0 0.5rem;
                background-color: var(--medium-grey);
                border-radius: 50%;
                cursor: pointer;

                &.active {
                    background-color: var(--orange1);
                }
            }
        }
    }
}