.results {
    width: 100%;
    box-sizing: border-box;
    padding: 1rem 3rem;
    color: var(--dark-brown1);  
    height: 33rem;
    overflow-y: auto;
    overflow-x: hidden;
    border: 0px solid #ccc;
   

    .flexContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header {
        padding-bottom: 0.8rem;
        border-bottom: 1px solid var(--dark-brown1);

        h2 {
            font-family: var(--main-font);
        }

        select {
            width: 7rem;
            height: 2rem;
            padding-inline-start: 0.5rem;
            font-family: var(--secondary-font);
            color: var(--dark-brown1);
            border-color: var(--dark-grey);
            border-radius: 0.5rem;
        }
    }

    .cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}