.card {
  position: relative;
  flex: 30%;
  height: 20rem;
  margin: 0.5rem;
  border-radius: 1rem;

  &:first-child {
    flex: 50%;
  }

  &:nth-child(2) {
    flex: 45%;
  }

  img,
  .description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
  }

  .name {
    position: absolute;
    bottom: 2rem;
    left: 2.5rem;
    color: var(--white);
    font-family: var(--main-font);
    font-size: 1.5rem;
    font-weight: bold;

    span {
      font-size: 0.85rem;
      font-weight: normal;
    }
  }

  .description {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    font-family: var(--secondary-font);
    font-size: 0.9rem;
    text-align: justify;
    color: var(--dark-brown1);
    background-color: rgba(255, 255, 255, 0.85);
    visibility: hidden;
  }

  &:hover {
    cursor: pointer;
    box-shadow: rgba(109, 49, 3, 0.15) 0px 8px 8px 0px;

    .description {
      visibility: visible;
      animation: fade-in 0.35s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: 600px) {
  .card {
    flex: 50%;

    &:nth-child(2) {
      flex: 50%;
    }
  }
}
