.alertMessage {
    width: 30rem;
    height: 4rem;
    font-family: var(--secondary-font);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    color: var(--red);
    background-color: var(--light-red);
    border: 1px solid var(--red);
    border-radius: 10px;

    i {
        padding-right: 0.5rem;
    }

    p {
        font-size: 0.85rem;
    }
}