.searchContainer {
    width: 40%;
    position: relative;

    input {
        border: 1px solid rgb(209, 209, 209);
        min-height: 2.5rem;
        width: 100%;
        padding-inline-start: 3rem;
        padding-inline-end: 1rem;
        font-size: 1rem;

        &::placeholder {
            color: grey;
            opacity: 0.8;
        }
    }

    i {
        position: absolute;
        top: 0.5rem;
        left: 0.85rem;
        color: grey;
    }
}