.link {
  a {
    font-family: var(--main-font);
    font-weight: 500;
    color: var(--white);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .active {
    text-decoration: underline;
  }

  .leftNavActive {
    color: var(--orange1);
    font-weight: 700;
  }
}
