.section {
    width: 100%;
    padding: 3rem 4rem;
    background-color: var(--light-grey);
    margin-bottom: 4rem;

    h2 {
        font-family: var(--main-font);
        font-size: 2rem;
        color: var(--dark-brown1);
        margin-bottom: 0.8rem;
    }

    p {
        font-family: var(--secondary-font);
        color: var(--orange1);
        margin-bottom: 1.5rem;
    }

    .list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        .item {
            background-color: grey;
            flex: 30%;
            height: 20rem;
            border-radius: 1rem;
            margin: 0.5rem;
            position: relative;

            &:first-child {
                flex: 50%;
            }

            &:nth-child(2) {
                flex: 45%;
            }

            span {
                position: absolute;
                bottom: 2rem;
                left: 2.5rem;
                color: var(--white);
                font-family: var(--main-font);
                font-size: 1.5rem;
                font-weight: bold;
            }
        }



    }
}