.section {
    width: 100%;
    
    padding: 2rem 4rem;
    background-color: var(--light-grey);
    margin-bottom: 4rem;


    h2 {
        font-family: var(--main-font);
        font-size: 2rem;
        color: var(--dark-brown1);
        margin-bottom: 0.8rem;
    }

    p {
        font-family: var(--secondary-font);
        color: var(--orange1);
        margin-bottom: 2rem;
    }

    .list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        .item {
            background-color: grey;
            flex: 30%;
            height: 20rem; 
            border-radius: 1rem;
            margin: 0.5rem;

            &:first-child {
                flex: 50%;
            }
    
            &:nth-child(2) {
                flex: 45%;
            }
        }

       

    }
}