.mapContainer {
    width: 35%;
    height: 16rem;
    border-radius: 1rem;
    border: 1px solid var(--medium-grey);

    .map {
        width: 100%;
        height: 100%;
        border-radius: inherit;
    }
}