.mapContainer {
  width: 55%;
  height: 25rem;
  border-radius: 1rem;
  border: 1px solid var(--medium-grey);
  z-index: 1;

  .map {
    width: 100%;
    height: 100%;
    border-radius: inherit;
  }
}

@media (max-width: 550px) {
  .mapContainer {
    width: 100%;
  }
}