.gallery {
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 8.5rem);
    justify-content: center;
    gap: 0.5rem 0.8rem;
    padding: 0 4rem;


    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        border-radius: 0.7rem;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        cursor: pointer;

        &:hover {
            box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
                rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
                rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        }

        &:nth-child(1) {
            grid-column: 1 / span 1;
            grid-row: 1 / span 3;
        }
    }
}