@import url("https://use.fontawesome.com/releases/v6.6.0/css/all.css");

.nav {
    padding-top: 1rem;
    width: fit-content;
    background-color: var(--dark-brown2);

    .navBtn {
        width: 4rem;
        margin-bottom: 2.5rem;
        font-size: 2.2rem;
        color: var(--white);
        background-color: transparent;
        border: none;
        cursor: pointer;

        i {
            display: inline-block;
            transition: transform 0.3s ease-in-out;
        }

        .xIcon {
            transform: rotate(180deg);
        }

        .listIcon {
            transform: rotate(0deg);
        }

        &:focus {
            outline: none;
        }
    }

    .navList {
        width: 10rem;
        overflow: hidden;
        list-style: none;
        transition: width 0.3s ease-in-out;

        .navItem {
            height: 3rem;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            margin-bottom: 1rem;

            a {
                color: var(--white);
                font-size: 0.8rem;
                font-family: var(--secondary-font);
                text-decoration: none;

                i{
                    font-size: 1rem;
                    padding-right: 0.5rem;
                }
            }

            &:hover {

                a {
                    color: var(--orange1);
                    font-weight: 600;
                    transition: 0.15s all ease;
                }
            }
        }

        .activeNavItem {
            a {
                color: var(--orange1);
                font-weight: 600;
            }
        }
    }

}


.navClosed {
    .navList {
        width: 0;
        transition: width 0.3s ease-in-out;
    }
}