.grid {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, auto);
    column-gap: 1.5rem;

    thead,
    tbody,
    tr {
        display: grid;
        grid-column: 1 / -1;
        grid-template-columns: subgrid;
    }

    thead {

        tr {
            border-bottom: 1px solid var(--medium-grey);

            th {
                text-align: center;
                position: sticky;
                font-size: 0.8rem;
                font-family: var(--secondary-font);
                color: var(--medium-grey);
                padding-bottom: 1rem;
            }
        }
    }

    tfoot {
        padding-top: 1.5rem;

        tr {
            grid-template-columns: 1fr;

            td {
                font-size: 0.8rem;
                font-family: var(--secondary-font);
                font-weight: 600;
                color: var(--dark-brown1);
            }
        }
    }
}


/*************************** media queries styles ********************************/
/*for small devices - mobile phones and some tablets*/
@media (max-width: 550px) {

    .grid {
        column-gap: 0.5rem;
        grid-template-columns: 1rem 3rem 1fr 2.5rem;

        tfoot {
            padding-left: 1rem;
        }
    }
}