.grid {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    border-collapse: collapse;

    thead {
        display: contents;

        tr th {
            text-align: center;
            padding-bottom: 1rem;
            position: sticky;
            font-size: 0.8rem;
            font-family: var(--secondary-font);
            color: var(--medium-grey);
            border-bottom: 1px solid var(--medium-grey);
        }
    }

    tfoot {
        width: 100%;
        padding-top: 1.5rem;

        tr td {
            font-size: 0.8rem;
            font-family: var(--secondary-font);
            font-weight: 600;
            color: var(--dark-brown1);
        }
    }

    tbody,
    tr {
        display: contents;
    }

    th,
    td {
        padding: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}