.header {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 3.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    background-color: transparent;

    .logo {
        font-size: 1.5rem;
        font-family: var(--main-font);
        font-weight: bold;
        color: var(--white);

        span {
            color: var(--orange1);

            i {
                font-size: 2rem;
                padding-right: 0.2rem;
            }
        }

    }

    .navbar {
        width: 15rem;

        .list {
            display: flex;
            align-items: center;
            justify-content: space-between;
            list-style: none;

            a {
                font-family: var(--main-font);
                font-weight: 500;
                color: var(--white);
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }

            .active {
                text-decoration: underline;
            }
        }
    }

    .logoutButton {
        font-family: var(--secondary-font);
        font-weight: 500;
        padding: 0.65rem 1rem;
        color: var(--dark-brown1);
        border-radius: 2rem;
        border: 1px solid transparent;
        background-color: var(--white);
        cursor: pointer;

        i {
            padding-left: 0.2rem;
        }

        &:hover {
            color: var(--white);
            border-color: var(--white);
            background-color: var(--dark-brown1);
            transition: all 0.2s ease-in-out;
        }
    }
}