.row {
    text-align: center;
    font-size: 0.7rem;
    font-family: var(--secondary-font);
    color: var(--dark-brown1);

    .descriptionRow {
        text-align: justify;
    }

    .buttons {
        height: 100%;
        display: flex;
        align-items: center;

        button {
            background-color: transparent;
            border: none;
            outline: none;
            font-size: 1.2rem;

            &:hover {
                opacity: 0.6;
                transition: opacity 0.1s ease-in-out;
                cursor: pointer;
            }
        }

        .editBtn {
            color: var(--dark-brown1);
            margin-right: 0.2rem;
        }

        .deleteBtn {
            color: var(--orange1);
        }
    }
}