.row {
  border-bottom: 1px solid var(--medium-grey);
  text-align: center;
  font-size: 0.7rem;
  font-family: var(--secondary-font);
  color: var(--dark-brown1);
  padding: 1rem 0;

  .descriptionRow {
    text-align: center;
  }

  .buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    button {
      background-color: transparent;
      border: none;
      outline: none;
      font-size: 1.2rem;

      &:hover {
        opacity: 0.6;
        transition: opacity 0.1s ease-in-out;
        cursor: pointer;
      }
    }

    .editBtn {
      color: var(--dark-brown1);
    }

    .deleteBtn {
      color: var(--orange1);
    }
  }
}

/*************************** media queries styles ********************************/
/*for small devices - mobile phones and some tablets*/
@media (max-width: 550px) {
  .row {
    text-align: left;
  }
}
