.dialogContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-end;
  z-index: 1;

  .dialogForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 4rem 0;
    width: 30rem;
    height: 100%;
    background-color: var(--white);

    animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

    h2 {
      font-family: var(--main-font);
      color: var(--orange1);
      margin-bottom: 1rem;
    }

    .inputContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 80%;

      label {
        font-family: var(--secondary-font);
        color: var(--dark-brown1);
        padding-bottom: 0.2rem;
      }

      .nameField,
      .descriptionField,
      .numberField,
      .cityIdField {
        padding: 0 1rem;
        font-size: 0.9rem;
        font-family: var(--secondary-font);
        color: var(--dark-brown1);
        background-color: transparent;
        border: 1px solid var(--orange1);
        border-radius: 0.7rem;

        &:focus {
          outline-color: var(--orange1);
        }
      }

      .nameField,
      .cityIdField {
        height: 3rem;
      }

      .descriptionField {
        box-sizing: border-box;
        padding-top: 1rem;
        resize: none;
      }

      .errorAlert {
        color: red;
        text-align: center;
        font-size: 0.7rem;
        font-weight: 600;
        font-style: italic;
        padding-top: 0.8em;
      }
    }

    .numbersContainer {
      display: flex;
      width: 80%;

      .inputContainer {
        align-items: center;

        .numberField {
          padding: 0 0.4rem;
          width: 5rem;
          height: 2.5rem;
          text-align: center;
        }
      }
    }

    .buttonsContainer {
      display: flex;
      justify-content: center;
      margin-top: 1rem;

      button {
        width: 6rem;
        height: 2.5rem;
        text-align: center;
        font-family: var(--secondary-font);
        font-weight: bold;
        font-size: 0.95rem;
        border-radius: 0.5rem;
        cursor: pointer;
        background-color: transparent;
        color: var(--dark-grey-shade);

        &:focus {
          outline: 2px solid var(--dark-brown1);
        }
      }

      .cancelButton {
        margin-right: 0.5rem;
        color: var(--dark-grey);
        border: 1px solid var(--medium-grey);

        &:hover {
          background-color: var(--medium-grey);
          color: var(--white);
          transition: 0.2s all ease-in-out;
        }
      }

      .addUpdateButton {
        color: var(--orange1);
        border: 1px solid var(--orange1);

        &:not(:disabled):hover {
          background-color: var(--orange1);
          color: var(--white);
          transition: 0.2s all ease-in-out;
        }

        &:disabled {
          opacity: 0.5;
          cursor: not-allowed;
        }
      }
    }
  }
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media (max-width: 500px) {
  .dialogContainer {
    justify-content: center;
    align-items: center;

    h2 {
      font-size: 2rem;
    }

    .dialogForm {
      width: 90%;
      height: 70%;
      border-radius: 1rem;

      .inputContainer {
        font-size: 1.2rem;

        .errorAlert {
          font-size: 0.95rem;
        }
      }

      .buttonsContainer {
        margin-top: 3rem;

        .cancelButton {
          margin-right: 1.5rem;
        }
      }
    }
  }
}

@media (min-width: 500px) and (max-width: 700px) {
  .dialogContainer {
    .dialogForm {
      padding: 10rem 0;
    }
  }
}