.circle {
  position: fixed;
  --cursor-size: 2.7rem;
  width: var(--cursor-size);
  height: var(--cursor-size);
  top: calc(-1 * var(--cursor-size) / 2);
  left: calc(-1 * var(--cursor-size) / 2);
  border-radius: 50%;
  border: 2px solid var(--orange1);
  transition: transform 0.1s ease;
  z-index: 5;

  /* This ensures the circle doesn't interfere with other mouse events */
  pointer-events: none;

  /*To make sure it works on all browsers*/
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/*for small devices (touch screens), there is no cursor, so hide the cursor follower*/
@media (max-width: 768px) {
  .circle {
    display: none;
  }
}
