.header {
    height: 4rem;
    width: 100%;
    padding: 0 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--brown-sugar);

    .logo {
        text-align: left;
        color: var(--beige);
        font-family: var(--main-font);
        display: flex;
        align-items: center;
        justify-content: center;

        i {
            font-size: 2rem;
            padding-right: 0.8rem;
        }

        .logoDetails {
            h1 {
                font-size: 1.8rem;
            }

            h2 {
                font-size: 1rem;
            }
        }
    }

    .profileHeader {
        display: flex;
        align-items: center;
        justify-content: center;

        .image {
            width: 2.9rem;
            height: 3.2rem;
            border-radius: 50%;
        }

        .details {
            display: flex;
            flex-direction: column;
            margin: 0 1rem;
            text-align: left;
            font-family: var(--main-font);

            .name {
                font-size: 1.1rem;
                color: var(--beige);
                margin-bottom: 0.3rem;
            }

            .role {
                font-size: 0.8rem;
                color: var(--beige);
            }
        }

        button {
            font-size: 1.7rem;
            border: none;
            background-color: transparent;
            color: var(--beige);
            cursor: pointer;
            align-items: center;

            &:hover {
                background-color: #F6F9FE;
                color: #174ea6;
            }
        }
    }
}