.card {
  width: 90%;
  height: 18rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin-bottom: 1.7rem;
  font-family: var(--secondary-font);
  color: var(--dark-brown2);
  background-color: var(--white);
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  box-sizing: border-box;

  &:hover {
    box-shadow: rgba(178, 93, 57, 0.7) 0px 0px 0px 3px;
  }

  .flexContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  img {
    width: 50%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
  }

  .dataContainer {
    position: relative;
    width: 47%;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;

    .titleContainer {
      margin-bottom: 0.8rem;

      .title {
        font-family: var(--main-font);
        font-weight: bold;
        font-size: 1.7rem;
      }
    }

    .roomContainer,
    .locationContainer {
      margin-bottom: 0.5rem;

      .type {
        font-size: 0.9rem;
        font-weight: 600;
        padding-bottom: 0.2rem;
      }

      .location {
        font-size: 0.75rem;
      }

      .room {
        font-size: 0.75rem;
      }
    }

    .priceContainer {
      margin-left: auto;

      .discount {
        font-size: 0.8rem;
      }

      .price {
        font-weight: bolder;
        font-size: 1.2rem;
        text-align: right;
        padding-bottom: 0.2rem;
      }
    }

    .amenitiesButtonContainer {
      margin-top: auto;

      .amenities {
        justify-content: flex-start;

        .amenity {
          width: fit-content;
          padding: 0.25rem 0.7rem;
          margin-right: 1rem;
          font-size: 0.85rem;
          color: var(--orange1);
          border-radius: 1rem;
          border: 1px solid var(--orange1);
          background-color: var(--white);

          &:hover {
            cursor: pointer;
            color: var(--white);
            background-color: var(--orange1);
            transition: 0.2s all linear;
          }
        }
      }

      .seeMoreButton {
        width: 7rem;
        height: 2.5rem;
        font-size: 0.9rem;
        color: var(--white);
        border-radius: 1.2rem;
        border: 1px solid var(--orange1);
        background-color: var(--orange1);

        &:hover {
          font-weight: 700;
          cursor: pointer;
          color: var(--orange1);
          background-color: var(--white);
          border: 1px solid var(--orange1);
          transition: 0.2s all linear;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .card {
    width: 100%;
    border-radius: 1rem;
    height: fit-content;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      height: 15rem;
    }

    .dataContainer {
      width: 100%;
      padding-top: 1rem;

      .titleContainer {
        margin-bottom: 0.3rem;
      }

      .roomContainer,
      .locationContainer {
        margin-bottom: 0;
        display: flex;

        .type {
          padding-bottom: 0;
          padding-right: 0.7rem;
        }
      }

      .priceContainer {
        display: flex;
        flex-direction: row-reverse;

        .price {
          padding-bottom: 0;
          padding-left: 0.5rem;
        }
      }

      .amenitiesButtonContainer {
        .amenities {
          .amenity {
            margin-right: 0.5rem;
          }
        }

        .seeMoreButton {
          width: 6rem;
          height: 2rem;
        }
      }
    }
  }
}

/*for small devices - mobile phones and some tablets*/
@media (min-width: 385px) and (max-width: 600px) {
  html {
    font-size: 11px;
  }
}
