.card {
  width: 33rem;
  height: 18rem;
  display: flex;
  padding: 1rem;
  margin-right: 5rem;
  font-family: var(--secondary-font);
  color: var(--dark-brown2);
  border-radius: 0.7rem;
  border: 1px solid var(--orange1);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  &:hover {
    cursor: pointer;
    border: 2px solid var(--orange1);
    box-shadow: rgba(255, 147, 23, 0.3) 5px 5px 5px 5px;
    transition: 0.1s all ease-in-out;
  }

  img {
    width: 40%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
    margin-right: 1rem;
  }

  .dataContainer {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;

    .flexContainer {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .title {
      font-family: var(--main-font);
      font-weight: bold;
      font-size: 1.3rem;
    }

    .location {
      font-size: 0.8rem;
      margin-top: 0.5rem;
      margin-bottom: 1rem;

      i {
        padding-right: 0.2rem;
      }
    }

    .description {
      font-size: 0.8rem;
      text-align: justify;
    }

    .priceContainer {
      margin-top: auto;
      /* Push it to the bottom */

      .price {
        font-weight: bolder;
        font-size: 1.2rem;

        span {
          font-weight: normal;
          font-size: 0.75rem;
          padding-left: 0.6rem;
          color: var(--dark-grey);
          text-decoration: line-through;
        }
      }

      .hotelButton {
        font-size: 2rem;
        color: var(--orange1);
        background-color: transparent;
        border: none;
        cursor: pointer;

        &:hover {
          color: var(--dark-brown2);
        }
      }
    }
  }
}

@media (max-width: 350px) {
  .card {
    width: 30rem;
    margin-right: 8rem;
  }
}
