.container {
    height: 100vh;
    width: 100%;

    color: #342727;
    font-family: Arial;
    font-size: 12px;
    background-image: url(../../assets/images/loginPageBackground.jpg);
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;


    .headline {
        height: 20rem;
        width: 25rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: var(--transparent-beige);
        font-family: var(--secondary-font);
    }

    .headline {
        border-right: 0.5rem solid var(--dark-brown);
        padding-right: 1rem;
        text-align: right;

        h1 {
            font-size: 5em;
            color: var(--dark-brown);
            font-family: var(--main-font);

            span {
                color: var(--brown-sugar);
            }
        }

        p {
            color: var(--dark-brown);
        }
    }
}