.loginPage {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../../assets/images/loginPageBackground.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  .container {
    height: 22rem;
    width: 50rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--transparent-white);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .headlineContainer {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    color: var(--dark-brown1);
    border-right: 0.2rem solid var(--dark-brown1);
    padding: 0 0.8rem;

    h1 {
      font-size: 3.5rem;
      font-family: var(--main-font);
      padding-bottom: 0.5rem;

      span {
        color: var(--orange1);
      }
    }

    p {
      font-size: 0.8rem;
      font-weight: 500;
      font-family: var(--secondary-font);
    }
  }
}

/*for small devices - mobile phones and some tablets*/
@media (max-width: 600px) {
  .loginPage {
    .container {
      height: 40rem;
      width: 25rem;
      display: flex;
      flex-direction: column;
    }

    .headlineContainer {
      height: max-content;
      width: 80%;
      display: flex;
      flex-direction: column;
      padding: 2rem 0;
      text-align: center;
      border-right: none;
      border-bottom: 0.2rem solid var(--dark-brown1);

      h1 {
        padding-bottom: 1.2rem;
      }

      p {
        font-size: 0.85rem;
        font-weight: 700;
      }
    }
  }
}

/*for medium devices - tablets*/
@media (min-width: 600px) and (max-width: 951px) {
  html {
    font-size: 13px;
  }

  .loginPage {
    .container {
      width: 42rem;
    }
  }
}
