.grid {
    width: 100%;
    display: grid;
    border-collapse: collapse;

    thead,
    tbody,
    tr {
        display: contents;
        font-family: var(--secondary-font);
    }

    thead th {
        color: var(--medium-grey);
        font-size: 0.9rem;
        font-weight: 700;
    }

    thead,
    tbody {

        th,
        td {
            padding: 0.85rem;
            text-align: center;
            overflow-wrap: break-word;
            border-bottom: 1px solid var(--medium-grey);
        }
    }

    tfoot td {
        padding-top: 2rem;
    }
}

.cityGrid {
    grid-template-columns: repeat(4, auto);

}

.hotelGrid {
    grid-template-columns: repeat(8, auto);
}

@media (max-width: 750px) {


    .grid {

        thead th {
            font-size: 0.6rem;
            font-weight: 600;
            overflow-wrap: word-break;
        }

        tbody td {
            overflow-wrap: anywhere;
        }

        thead,
        tbody {

            th,
            td {
                padding: 0.55rem 0.25rem;
            }
        }
    }
}