.quantityController {
  position: relative;
  width: 48%;
  height: 3rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--light-grey);

  &:hover {
    outline: 1.5px solid var(--dark-grey);
  }

  .dropdownToggle {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    cursor: pointer;
    color: var(--dark-brown1);

    .details {
      padding-left: 1rem;
      font-family: var(--secondary-font);
      font-size: 0.8rem;

      .room {
        color: var(--dark-grey);
        font-size: 0.7rem;
      }
    }

    .arrowDown {
      margin-left: auto;
    }
  }

  .dropdownMenu {
    position: absolute;
    width: 50%;
    top: 80%;
    left: 50%;
    font-family: var(--secondary-font);
    font-size: 0.85rem;
    padding: 0.3rem 1rem;
    border-radius: 0.5rem;
    background-color: var(--light-grey);

    .dropdownItem {
      height: 3rem;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      justify-content: space-between;

      .itemDetails {
        width: 50%;

        .description {
          font-size: 0.65rem;
          color: var(--dark-grey);
        }
      }

      .buttonsContainer {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        button {
          width: 1rem;
          height: 1rem;
          border-radius: 50%;
          border: 1px solid var(--dark-brown1);
          background-color: transparent;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}

.minQuantityController {
  width: 38%;

  .dropdownMenu {
    position: absolute;
    width: 80%;
    top: 85%;
    left: 21%;
  }
}

@media (max-width: 600px) {
  .quantityController {
    width: 100%;

    .dropdownMenu {
      .dropdownItem {
        .itemDetails {
          width: 50%;

          .description {
            font-size: 0.65rem;
            color: var(--dark-grey);
          }
        }
      }
    }
  }
}

@media (min-width: 600px) and (max-width: 800px) {
  .quantityController {
    .dropdownMenu {
      width: 65%;
      top: 80%;
      left: 35%;
    }
  }
}
