.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 0 1.5rem 0;
  margin: 0 1.5rem;
  box-sizing: border-box;
  color: var(--orange1);
  border-top: 2px solid var(--orange1);

  .copyrightContainer {
    font-size: 0.7rem;
    font-family: var(--secondary-font);
    font-weight: 500;
  }

  .socialLinks {
    width: 6rem;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media (max-width: 380px) {
  .footer {
    .socialLinks {
      width: 5rem;
    }
  }
}
