.searchContainer {
    width: 100%;
    height: 3.5rem;
    display: flex;
    position: relative;
    margin-bottom: 3rem;

    input {
        width: 100%;
        padding-inline-start: 4.5rem;
        padding-inline-end: 2rem;
        font-size: 1rem;
        font-family: var(--secondary-font);
        border: 1px solid var(--medium-grey);
        border-radius: 0.6rem;

        &::placeholder {
            color: var(--medium-grey);
            opacity: 0.8;
        }
    }

    .searchIcon {
        font-size: 1.4rem;
        position: absolute;
        left: 1.5rem;
        top: 50%;
        transform: translateY(-50%);
        color: var(--dark-brown1);
    }

    .optionsDropdown {
        font-family: var(--secondary-font);
        font-weight: 500;
        padding: 0 1rem;
        margin-left: 1rem;
        color: #fff;
        background-color: var(--medium-grey);
        border-radius: 0.6rem;
        border: none;
        cursor: pointer;

        &:focus {
            outline-color: var(--orange1);
        }
    }
}