@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*************************** custom css style ********************************/
:root {
  --transparent-white: hsla(0, 0%, 100%, 0.65);
  --white: #FFFFFF;
  --light-grey: #F3F3F3;
  --medium-grey: #BEBFB5;
  --dark-grey: #ABACA3;
  --orange1: #B25E39;
  --orange2: #AA6548;
  --brown-sugar: #B28E6A;
  --dark-brown1: #473D3A;
  --dark-brown2: #4F382E;

  /*for error messages*/
  --light-red: rgba(255, 226, 226, 0.95);
  --red: red;

  --main-font: "League Spartan", sans-serif;
  --secondary-font: "Montserrat", serif;
}

/*************************** general styles ********************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}