.row {
    td {
        text-align: center;
        padding: 1rem 0;
        font-size: 0.7rem;
        font-family: var(--secondary-font);
        color: var(--dark-brown1);
        border-bottom: 1px solid var(--medium-grey);
    }

    .buttons{
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        button{
            background-color: transparent;
            border: none;
            outline: none;
            font-size: 1.2rem;
            

            &:hover{
                opacity: 0.6;
                transition: opacity 0.1s ease-in-out;
                cursor: pointer; 
            }
        }

        .editBtn{
            color: var(--dark-brown1);
        }

        .deleteBtn{
            color: var(--orange1);
        }
    }
}